<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline"><a href="{{url}}" rel="canonical" itemprop="url">{{title}}</a></h1>
        <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">Published {{date format="MMM d, yyyy"}}</time>
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        {{excerpt words="33"}}
    </div>

    <footer>
        {{#if tags}}
            <ul class="categories">
                <li> Posted in </li>
                {{#foreach tags}}
                <li itemprop="articleSection">
                    <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                </li>  
                {{/foreach}}
            </ul>
        {{/if}}

        <meta itemprop="author" content="{{#author}}" />
        <meta itemprop="dateModified" content="{{date format="YYYY-MM-DD"}}" />
        <meta itemprop="mainEntityOfPage" content="{{url absolute="true"}}" />
    </footer>
</article>
